h1 {
  text-align: center;
}

.register-form {
  width: 500px;
  margin: 25px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.form-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

.form-item label {
  width: 200px;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error {
  width: 100%;
  text-align: center;
  background: #fa9898;
  color: #7b1212;
  padding: 5px;
  margin-bottom: 20px;
}
